# Папки сборки
build/
out/
bin/
obj/

# Объектные и исполняемые файлы
*.o
*.obj
*.exe
*.out

# Временные файлы
*.tmp
*.log
*.cache
*.pid

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Выходные и вспомогательные файлы
*.txt
*.rle
*.b32